

body{
	margin: 0;
}

*{
	box-sizing: border-box;
}

.flexx{
	display: flex;
	flex-direction: row;
}.flexy{
	display: flex;
	flex-direction: column;
}.flexcen{
	display: flex;
	justify-content: center;
	align-items: center;
}.fg,.flexgrow{
	flex-grow: 1;
}

.align{
	align-items: center;
}.justify{
	justify-content: center;
}

.fully{
	height: 100%;
}.fullx{
	width: 100%;
}.full{
	height: 100%;
	width: 100%;
}


.screeny{
	height: 100vh;
}.screenx{
	width: 100vw;
}.screen{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}.screenxx{
	width: 100vw;
	height: 100vw;
	overflow: hidden;
}.screenyy{
	width: 100vh;
	height: 100vh;
	overflow: hidden;
}

.flowx{
	overflow-x: auto;
}.flowy{
	overflow-y: auto;
}.flowno{
	overflow: hidden;
}.flowxno{
	overflow-x: hidden;
}.flowyno{
	overflow-y: hidden;
}.scrolly{
	overflow-y: scroll;
}.scrollx{
	overflow-x: scroll;
}

.rel{
	position: relative;
}.abs{
	position: absolute;
	left: 0;
	top: 0;
}.fixed{
	position: fixed;
	left: 0;
	top: 0;
}

.barx,.linex,.bary.liney,.bar2x,.line2x,.bar2y.line2y{
	position: relative;
}
.barx,.linex,.bar2x,.line2x{
	height: 1px;
	width: 100%;
}.bary.liney,.bar2y.line2y{
	height: 1px;
	height: 100%;
}

.bar2x,.line2x{
	height: 4px;
	background: transparent;
	border-top: 1px solid;
	border-bottom: 1px solid;
}.bar2y.line2y{
	width: 4px;
	background: transparent;
	border-left: 1px solid;
	border-right: 1px solid;
}

.square,.box,.ratio{
	aspect-ratio: 1;
}

.pad0{
	padding: 0;
}.pad05{
	padding: .5vh;
}.pad1{
	padding: 1vh;
}.pad2{
	padding: 2vh;
}.pad3{
	padding: 3vh;
}

.pady0{
	padding-top: 0;
	padding-bottom: 0;
}.pady05{
	padding-top: .5vh;
	padding-bottom: .5vh;
}.pady1{
	padding-top: 1vh;
	padding-bottom: 1vh;
}.pady2{
	padding-top: 2vh;
	padding-bottom: 2vh;
}.pady3{
	padding-top: 3vh;
	padding-bottom: 3vh;
}
.padx0{
	padding-left: 0;
	padding-right: 0;
}.padx05{
	padding-left: .5vh;
	padding-right: .5vh;
}.padx1{
	padding-left: 1vh;
	padding-right: 1vh;
}.padx2{
	padding-left: 2vh;
	padding-right: 2vh;
}.padx3{
	padding-left: 3vh;
	padding-right: 3vh;
}
.padb0{
	padding-bottom: 0;
}.padb05{
	padding-bottom: .5vh;
}.padb1{
	padding-bottom: 1vh;
}.padb2{
	padding-bottom: 2vh;
}.padb3{
	padding-bottom: 3vh;
}
.padt0{
	padding-top: 0;
}.padt05{
	padding-top: .5vh;
}.padt1{
	padding-top: 1vh;
}.padt2{
	padding-top: 2vh;
}.padt3{
	padding-top: 3vh;
}
.padr0{
	padding-right: 0;
}.padr05{
	padding-right: .5vh;
}.padr1{
	padding-right: 1vh;
}.padr2{
	padding-right: 2vh;
}.padr3{
	padding-right: 3vh;
}
.padl0{
	padding-left: 0;
}.padl05{
	padding-left: .5vh;
}.padl1{
	padding-left: 1vh;
}.padl2{
	padding-left: 2vh;
}.padl3{
	padding-left: 3vh;
}

.gap05{
	gap: .5vh;
}.gap1{
	gap: 1vh;
}.gap2{
	gap: 2vh;
}.gap3{
	gap: 3vh;
}.gap4{
	gap: 4vh;
}.gap5{
	gap: 5vh;
}

.rad05{
	border-radius: .5vh;
}.rad1{
	border-radius: 1vh;
}.rad2{
	border-radius: 2vh;
}.rad3{
	border-radius: 3vh;
}

.textcen{
	text-align: center;
}

.aligncen,.alcen{
	align-items: center;
}.alignstart,.alstart{
	align-items: start;
}.alignend,.alend{
	align-items: end;
}
.justifycen,.justcen{
	justify-content: center;
}.justifystart,.juststart{
	justify-content: start;
}.justifyend,.justend{
	justify-content: end;
}.justifyspace,.justspace{
	justify-content: space-between;
}.justifyaround,.justaround{
	justify-content: space-around;
}

.noback{
	background: none;
}
.break,.bw.b{
	/*unholy*/
	-ms-word-break: break-all;
    word-break: break-all;
}

.x0{
	left: 0;
}.y0{
	top: 0;
}.xy0{
	left: 0;
	top: 0;
}

.np,.nopointer,.npe{
	pointer-events: none;
}.pointer,.pointerevents{
	pointer-events: auto;
}.npc *,.nopointerc *,.npec *{
	pointer-events: none;
}

.z-3{
	z-index: -3;
}.z-2{
	z-index: -2;
}.z-1{
	z-index: -1;
}.z0{
	z-index: 0;
}.z1{
	z-index: 1;
}.z2{
	z-index: 2;
}.z3{
	z-index: 3;
}.z4{
	z-index: 4;
}.z5{
	z-index: 5;
}.z6{
	z-index: 6;
}.z7{
	z-index: 7;
}.z8{
	z-index: 8;
}.z9{
	z-index: 9;
}

button{
	background: transparent;
	border: none;
	position: relative;
}

.nosel,.ns{
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}.sel{
	-webkit-user-select: auto; /* Safari */
	-ms-user-select: auto; /* IE 10 and IE 11 */
	user-select: auto; /* Standard syntax */
}

.noTransition * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}







.back{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	object-fit: cover;
}


@media (max-aspect-ratio: 10/9){
	.alt-flexx{
		display: flex;
		flex-direction: row;
	}.alt-flexy{
		display: flex;
		flex-direction: column;
	}
	.alt-flexcen{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.alt-fg{
		flex-grow: 1;
	}

	.alt-fully{
		height: 100vh;
	}.alt-fullx{
		width: 100vw;
	}

	.alt-flowno{
		overflow: hidden;
	}.alt-flowys{
		overflow-y: scroll;
	}.alt-flowys{
		overflow-y: scroll;
	}
}