
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

:root{
    --color-btn0: rgba(255,255,255, .2);
}

.colorBtn0{
    background: var(--color-btn0);
}






body{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: #000000;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#guiOverlay, #contentHolder{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}
#contentHolder{
    pointer-events: none;
}

*{
    color: white;
    font-size: 3vh;
    font-family: 'Rubik', sans-serif;
}

.diceLabel{
    font-family: Georgia, serif;
    font-size: 6vh;
    margin-top: -.5vh;
    text-decoration: underline;
    color: #FFE0A0;
}


.iconSmall{
    width: 5vh;
    height: 5vh;
}

.iconDice{
    position: relative;
    width: 5vh;
    height: 5vh;
    pointer-events: auto;
    user-select: none;
}.iconDice>*{
    width: 100%;
    height: 100%;
    pointer-events: none;
}.iconDice>div{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}.iconDice>div>div{
    text-align: center;
    text-shadow: -3px -3px black, -3px 3px black, 3px -3px black, 3px 3px black;
}
.iconSub{
    position: absolute;
    width: 2vh;
    height: 2vh;
    top: 70%;
    left: 70%;
    filter: drop-shadow(0px 0px 3px black);

}


.btn0{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 1vh;
    padding-left: 2vh;
    padding-right: 2vh;
    gap: 1vh;

    background: var(--color-btn0);
    border-radius: 2vh;
    pointer-events: auto;
}.btn0>img{
    pointer-events: auto;
    user-select: none;

    height: 4vh;
    width: 4vh;
}.btn0 div{
    pointer-events: none;
    user-select: none;
}


@keyframes rainbowHueAnim{
    from {filter: hue-rotate(0deg)}
    to {filter: hue-rotate(360deg)}
}
.blendRainbow{
    animation: 10s linear infinite rainbowHueAnim;
}

.menuLogo{
    width: 5vh;
    height: 5vh;
}
.numberOutput{
    font-size: 5vh;
}